<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540396813061-vkgecdtkokvdud6thta7psf9aekdrrom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540396813061-vkgecdtkokvdud6thta7psf9aekdrrom</string>
	<key>API_KEY</key>
	<string>AIzaSyAlpAAdWog9GSWgVMOvlRjeJLiOBYkaRlk</string>
	<key>GCM_SENDER_ID</key>
	<string>540396813061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appointmentApp</string>
	<key>PROJECT_ID</key>
	<string>appointmentapp-da838</string>
	<key>STORAGE_BUCKET</key>
	<string>appointmentapp-da838.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540396813061:ios:0a4c5a957d607e2482156c</string>
</dict>
</plist>